html
    head
        link(rel="stylesheet", href="./styles.css")
    body
        div(id="pageContainerCreate")
            div(class="backButtonCreate")
                form(method="get", action="/")
                    div 
                        input(type="submit", value="Back")
            div(class="createForm")
                form(method="post", action="/createUser")
                    div
                        label(for="firstName") First Name:&nbsp;
                        input(id="firstName", name="firstName")
                    div
                        label(for="lastName") Last Name:&nbsp;
                        input(id="lastName", name="lastName")
                    div
                        label(for="email") Email:&nbsp;
                        input(id="email", name="email", type="email")
                    div
                        label(for="age") Age:&nbsp;
                        input(id="age", name="age")
                    div
                        label(for="password") Password:&nbsp;
                        input(id="password", name="password", type="password")
                    div
                        label(for="role") Role:&nbsp;
                        input(id="role", name="role", placeholder="Student, Teacher...")
                    div
                        input(type="submit", value="Create")